@keyframes bruh {
  0%   { transform: rotate(-50deg); transform: translateY(50px)}
  100% { transform: rotate(50deg);transform: translateY(-50px) ;}
}
@font-face {
    font-family: helvetica;
    src: url(https://1ctinus.me/helvetica.woff);
  }
.welc>*{display: inline-block;      animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-delay: 0s;
  animation-name: bruh;}
  p { font-size: 20px;  margin: 0px 60px 0px 60px;  color: white; text-decoration: none; text-shadow: rgb(0, 6, 10) 3px 3px;}
  body {background-color:#002133; font-family: helvetica;   overflow-x: hidden;}
  #pics { text-shadow: rgb(25, 0, 10) 6px 6px; color: rgb(255, 0, 106); }
  #bloc { text-shadow: rgb(18, 25, 3) 6px 6px; color: rgb(125, 173, 21); }
  #self { text-shadow: rgb(3, 7, 7) 6px 6px; color: rgb(112, 255, 245); }
  #game { text-shadow: rgb(6, 25, 3) 6px 6px; color: rgb(45, 189, 21); }
  #futu { text-shadow: rgb(30, 0, 12) 6px 6px; color: rgb(255, 64, 153); }
  #disc { text-shadow: rgb(2, 2, 5) 6px 6px; color: rgb(140, 132, 255); }
  #redd { text-shadow: rgb(25, 8, 0) 6px 6px; color: rgb(255, 89, 0); }
  #chan { text-shadow: rgb(102, 17, 0) 6px 6px; color: rgb(255, 170, 17); }
  #wurt { text-shadow: rgb(0, 12, 7) 6px 6px; color: rgb(0, 255, 167); }
  #it { text-shadow: rgb(25, 25, 23) 6px 6px; color: rgb(255, 255, 232); }
  #gith {color:#6F63B5; text-shadow:#060616 6px 6px;}
  #haik {color:#EEFF00; text-shadow: #161500 6px 6px;}
      .logo {      display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .we{color:#3474ff; text-shadow: #0c0909 6px 6px;}
      .si{color:#29f1ff; text-shadow: #0c070c 6px 6px;}
  .gro {color: yellow }
  .ovy {color:blue}

  .welc{   color:white; text-shadow: rgb(0, 6, 10) 8px 8px; text-align:center; font-size:400%; margin-top: -90px;  word-wrap: break-word; position:relative;
 }

  .para {font-size:30px; text-align:justify; }
  .preview{size: 98vw; margin-left: -50px;margin-right: -50px;}
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: 'transparent'; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }