
body {
    color: white;
    font-size:150px;
    font-family: helvetica, sans-serif;
    font-weight:bold;
    margin:0;
  }
  
  .split {
    height: 50%;
    width: 100%;
    position: fixed;
    
  }
  
  .left {
    top: 0;
    background-color: #156472;
       text-shadow: rgb(1, 5, 7) 12px 12px;
  }
  
  .right {
    bottom: 0;
    background-color:#174688;
     text-shadow: rgb(1, 6, 7) 12px 12px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-decoration:none
  
  }
  .left:hover, .right:hover{
    background-color:white;
}

.left:hover a{
    color:#156472;
}

.right:hover a{
    color:#174688;
}